body {
  margin: 0;
}

.light-on {
  background-color: #fef9f1;
}

.light-off {
  background-color: #111;
}

.row {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}

.circle-on {
  background-color: #faea84;
}

.circle-off {
  background-color: #252525;
  box-shadow: 0 -10px #050505;
}
