.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
}

* {
  font-family: Avenir, sans-serif;
}

h1,
h2,
h3 {
  font-family: "Tiempos Headline", sans-serif;
}

a {
  padding-right: 1.5rem;
}

.nav-bar {
  padding-bottom: 1rem;
  border-bottom: solid gray;
}

.contact-us {
  background-color: #294464;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.column-one-fourth {
  width: 40%;
}

.column-three-fourths {
  width: 60%;
  padding-left: 90px;
}

.column-one-half {
  width: 50%;
}

.canvas-logo {
  width: 40%;
  padding-top: 2rem;
  padding-left: 2rem;
}

.nav-options {
  display: flex;
  padding-top: 2rem;
}

.column-full {
  width: 100%;
}

.hero-summary {
  padding-bottom: 3rem;
}

.img-hero {
  width: 92%;
  padding-top: 2rem;
  padding-left: 2rem;
  position: relative;
}

.img-h2 {
  position: absolute;
  top: 150px;
  left: 350px;
}

.img-p {
  position: absolute;
  top: 200px;
  left: 350px;
  width: 30%;
}

.img-button {
  position: absolute;
  top: 400px;
  left: 350px;
}

.clinician-list {
  background-color: #fafafa;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.clinician-header {
  text-align: center;
}

.clinician-header p {
  width: 40%;
  margin-left: 19rem;
}

.physician-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.office {
  flex-basis: calc(100%/2);
  text-align: center;
}

.get-started {
  position: relative;
  left: 350px;
  top: 40px;
}

.learn-more {
  padding-left: 1rem;
}

.company-info {
  background-color: #525351;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.canvas-white {
  width: 40%;
}

.canvas-address {
  padding-left: 4rem;
}

.company-col {
  padding-left: 14rem;
}

.product-col {
  padding-left: 8rem;
}

.privacy-terms {
  background-color: #fafafa;
  padding-left: 4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
