.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  width: 100%;
  display: flex;
}

a {
  padding-right: 1.5rem;
}

.nav-bar {
  padding-bottom: 1rem;
  border-bottom: solid gray;
}

.contact-us {
  background-color: #294464;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.column-one-fourth {
  width: 40%;
}

.column-three-fourths {
  width: 60%;
  padding-left: 90px;
}

.canvas-logo {
  width: 40%;
  padding-top: 2rem;
  padding-left: 2rem;
}

.nav-options {
  display: flex;
  padding-top: 2rem;
}

.column-full {
  width: 100%;
}

.img-hero {
  width: 92%;
  padding-top: 2rem;
  padding-left: 2rem;
  position: relative;
}

.img-h2 {
  position: absolute;
  top: 150px;
  left: 350px;
}

.img-p {
  position: absolute;
  top: 200px;
  left: 350px;
  width: 30%;
}

.img-button {
  position: absolute;
  top: 400px;
  left: 350px;
}
